.about-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(194, 193, 193);
}

.about-title {
  font-size: 3rem;
  margin-bottom: 40px;
}

.triangle-wrapper {
  width: 500px;
  height: 650px;

  transform: scale(0.6);
  transition: transform 1.2s ease;
}

.triangle-wrapper.zoom {
  transform: scale(1);
}

.triangle {
  width: 100%;
  height: 100%;
}

.tri {
  fill: #d5d3d3;
  stroke: #1f1f1f;
  stroke-width:5px;
  transition: 0.3s;
  cursor: pointer;
}

.tri:hover {
  fill: #aaa;
}

.label {
  fill: rgb(29, 24, 24);
  font-size: 24px;
  pointer-events: none;
}
