.heatmap-container {
  position: absolute;
  inset: 0;
  pointer-events: none;

  opacity: 0.03;
  transition: opacity 4s ease;
}

.heatmap-container.show {
  opacity: 0.5;
}

.heat-cell {
  position: absolute;
  background: white;
  filter: blur(0.4px);

  animation: breathe 6s ease-in-out infinite;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.30);
  }
  100% {
    transform: scale(1);
  }
}
