html {
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: black;
}

/* Main landing wrapper */

.landing {
  width: 100vw;
}

/* ================= HERO ================= */

.hero {
  background: radial-gradient(circle at top, #111, #000);
  color: rgb(222, 215, 215);
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  position: relative;
  overflow: hidden;

  scroll-snap-align: start;
}

/* Vignette */

.hero::after {
  pointer-events: none;
}

/* ================= BACKGROUND ANIMATION ================= */

.ghost-stage {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}

/* ================= TEXT ================= */

.hero h1 {
  font-size: 8rem;
  letter-spacing: 4px;
  margin: 0;
  margin-top: 15%;
  z-index: 5;
  position: relative;
}

.hero p {
  font-size: 3rem;
  opacity: 0.8;
  line-height: 1.6;
  margin-top: 5px;
  z-index: 5;
  position: relative;
}

/* ================= SCROLL ARROW ================= */

.scroll-arrow {
  width: 40px;
  height: 40px;

  position: absolute;
  bottom: 30px;
  left: 50%;

  transform: translateX(-50%);
  cursor: pointer;

  animation: bounce 2.5s infinite ease-in-out;
  z-index: 5;

  opacity: 0.4;
}

.scroll-arrow svg {
  width: 100%;
  height: 100%;
}

/* Arrow animation */

@keyframes bounce {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }

  50% {
    transform: translateX(-50%) translateY(10px);
  }
}


.content {
  min-height: 100vh;
  padding: 120px 80px;
  background: white;
  scroll-snap-align: start;
}