.landing {
  width: 100vw;
}

/* EACH FULL PAGE */

.hero,
.about-section {
  width: 100vw;
  height: 100vh;


  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

/* HERO */

.hero {
  background: radial-gradient(circle at top, #111, #000);
  flex-direction: column;
  text-align: center;
  color: #ddd;
}

/* TITLE */

.hero h1 {
  font-size: 6rem;
  margin: 0;
}

.hero p {
  font-size: 2rem;
  opacity: 0.7;
}

/* SCROLL ARROW */

.scroll-arrow {
  position: absolute;
  bottom: 30px;
  font-size: 2rem;
  cursor: pointer;
  opacity: 0.5;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}

/* ABOUT */

.about-section {
  background: black;
}
