.stats-section {
  height: 200vh;
  background: rgb(27, 7, 7);
  position: relative;
}

/* LEFT TEXT */

.stats-text {
  position: absolute;
  left: 120px;
  top: 120px;
  width: 650px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(217, 212, 212);
  font-size: 68px;
  font-weight: 700;
  line-height: 1.2;
  transition: opacity 0.4s ease;
}

/* FIRST BOX */

.stats-box {
  position: absolute;
  bottom: 60px;
  right: 60px;
  background: #a81919;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  stroke-width: 5%;
  font-weight: 400;
  color: rgb(3, 3, 3);
  z-index: 2;
}

