*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

body{
  height:100%;
  width: 100%;
  background-color:white;
}

.card{
  background-color: pink;
  border-radius:10px;
  margin: 20px;
  padding:20px;

}
.nav{
  background-color: pink;
  border-radius:10px;
  margin: 20px;
  padding:20px;
}